{% extends 'tpl.html' %}

{% block content %}
<main>
    <div class="box-tasks">
        <div class="saudacao">
            <p>Seja bem vindo, {{ current_user.name }}!</p>
        </div>
        <div class="box-tarefas">
            <div>
                <span>Pendencias: </span>
            </div>
            {% for item in sql1 %}
                <div class="tarefas">
                    <a href="http://localhost:5000/details/{{ item.id }}">{{ item.title }}</a>
        
                    <nav>
                        <ul>
                            <li><a href="#" class="concluir">Concluir</a></li>
                            <li><a href="#" class="deletar">Deletar</a></li>
                        </ul>
                    </nav>
                </div>
            {% endfor %}
        </div>
    </div>
    
</main>
{% endblock %}