{% extends 'tpl.html' %}

{% block content %}
<main>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, msg in messages %}
                <div class="{{ category }}" style="margin-bottom: 20px;">
                    <p>{{ msg }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="title-text">
        <p>Seja bem vindo, {{ current_user.name }}! Abaixo está listado algumas de suas atividades: </p>
    </div>
    <div class="box-tasks">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Pendentes</a></li>
                <li><a href="{{ url_for('index', status='concluidos') }}">Concluídos</a></li>
                <li><a href="{{ url_for('index', status='deletados') }}">Excluídos</a></li>
            </ul>
        </nav>
        {% for item in sql %}
            <div class="tasks">
                <a href="{{ url_for('details', val_task=item.id) }}">{{ item.title }}</a>
                {% if item.status_id == 0 %}
                    <ul>
                        <li><a href="{{ url_for('update_task', id_task=item.id) }}" class="concluir">Concluir</a></li>
                        <li><a href="{{ url_for('delete_task', id_task=item.id) }}" class="deletar">Deletar</a></li>
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    
</main>
{% endblock %}