<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="form-rl">
        <h2>Login</h2>
    
        <form method="POST">
    
            {{ form.csrf_token }}
            {{ form.username(placeholder="Digite seu usuário..") }}
            {{ form.passwd(placeholder="Digite sua senha..") }}
                
            <button type="submit">Entrar</button>
        </form>
        <div style="display: flex!important;justify-content: flex-start!important;margin-bottom: 12px;">
            <a href="{{ url_for('register') }}" style="text-align: left!important;">Cadastrar-se</a>
        </div>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, msg in messages %}
                    <div class="{{ category }}">
                        <p>{{ msg }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>